## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()
vacation_df.loc[vacation_df["City"]=="San Patricio"]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
33,115,San Patricio,US,78.8,few clouds,28.02,-97.52,"Motel 6 Sinton, TX"

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
# 11b. Display the figure
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="North Platte"]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
61,216,North Platte,US,84.2,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte

In [12]:
vacation_end = vacation_df.loc[vacation_df["City"]=="North Platte"]
vacation_end

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
61,216,North Platte,US,84.2,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte

In [13]:
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Galveston"]
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
24,93,Galveston,US,75.2,clear sky,29.37,-94.97,Comfort Inn & Suites Texas City

In [14]:
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Lake Charles"] 
vacation_stop2

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
168,630,Lake Charles,US,77.0,clear sky,30.21,-93.2,La Quinta Inn & Suites by Wyndham Lake Charles...

In [15]:
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Crestview"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
119,421,Crestview,US,77.0,clear sky,30.76,-86.57,Holiday Inn Express & Suites Crestview South I-10

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (41.12,-100.77)
end = (41.12,-100.77)
stop1 = (29.37,-94.97)
stop2 = (30.21,-93.2)
stop3 = (30.76,-86.57)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3])
fig.add_layer(start2end)
fig
fig = gmaps.figure()
start2end_via_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],  
        travel_mode='DRIVING')
fig.add_layer(start2end_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinery_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end])

itinery_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
61,216,North Platte,US,84.2,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte
24,93,Galveston,US,75.2,clear sky,29.37,-94.97,Comfort Inn & Suites Texas City
168,630,Lake Charles,US,77.0,clear sky,30.21,-93.20,La Quinta Inn & Suites by Wyndham Lake Charles...
119,421,Crestview,US,77.0,clear sky,30.76,-86.57,Holiday Inn Express & Suites Crestview South I-10
61,216,North Platte,US,84.2,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinery_info = [info_box_template.format(**row) for index, row in itinery_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinery_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=itinery_info)
# 11b. Display the figure
locations = itinery_df[["Lat", "Lng"]]
max_temp = itinery_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinery_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig


# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))